:root{
  --light:#d9d9d9;
  --dark: #262626;
  --shadow: 5px 5px 10px 5px;
}

/* Navigation and common page themes */
html body{
  background-color: var(--light);
}
.nav{
  width:90%;
  padding: 10px;
  background-color: var(--dark);
}

.footer{
  position:fixed;
  bottom:0px;
  margin: 100px 10px 5px 10px;
  text-align: center;
  width:97.5%;

}

h1{
  font-family: 'STIX Two Math', serif;
}

/* Home Page */

.container-sm{
  text-align:center;
  margin:auto;
  margin-top: 25px;
  box-shadow: var(--shadow);
  padding: 10px;
}

/* Projects Page */

.projects-intro > h1{
  text-align:center;
  margin:25px;
  text-decoration:underline;

}


.project-top > img{
  width:200px;
}

.project-top2{
  font-size:1.5em;
}
.project-top{
  margin-bottom:50px;
  margin-top: 50px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
  box-shadow: var(--shadow);
  padding:15px;
}

.project-mid > img{
  width:200px;

}

.project-mid2{
  font-size:1.5em;
}
.project-mid{
  margin-bottom:50px;
  margin-top: 50px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
  box-shadow: var(--shadow);
  padding:15px;
}

.project-bottom > img{
  width:200px;

}

.project-bottom2{
  font-size:1.5em;
}
.project-bottom{
  margin-bottom:200px;
  margin-top: 50px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
  box-shadow: var(--shadow);
  padding:15px;
}

.text-light{
  padding:10px;
}


/* Skills Page */

.skills-intro{
  margin:25px;
  text-align:center;
}

.skills-intro > p{
  font-size:1.2em;
}

.skills-intro > h1{
  text-decoration:underline;
}

.skills-top{
  display:grid;
  grid-gap: 30px;
  grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
}

.skills-left > h2{
  text-align:center;
}

.skills-right > h2{
  text-align:center;
}

.skills-left{
  box-shadow: var(--shadow);
  padding:10px;

}

.skills-right{
  box-shadow: var(--shadow);
  padding:10px;
  margin-bottom: 100px;

}

/* Family Page */

.family-top{
  margin: 50px;
  display:grid;
  grid-gap:20px;
  grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
}

.family > h1{
  text-decoration:underline;
  text-align:center;
}

.family-slide{
  box-shadow: var(--shadow);
  margin-bottom: 100px;
}

/* Media change is affecting nav */
@media (max-width: 845px){
  .nav{
    flex-direction: column;
    align-items: center;
  }


}
